<div class="wgs-box wgs-quoteform">
    <h3 class="wgs-heading">Quick Contact</h3>
    <div class="wgs-content">
        <p>If you have any questions or would like to book a session please contact us.</p>
        <!-- TODO: NODEMAILER FEATURE -->
        <form id="contact-us" class="form-quote" action="/send" method="post">
            <%= %>
            <div class="form-results"></div>
            <div class="form-group">
                <div class="form-field">
                    <input name="contact_name" type="text" placeholder="Name *" class="form-control required"
                        aria-required="true">
                </div>
            </div>
            <div class="form-group">
                <div class="form-field">
                    <input name="contact_company" type="text" placeholder="Company *" class="form-control required"
                        aria-required="true">
                </div>
            </div>
            <div class="form-group">
                <div class="form-field">
                    <input name="contact_email" type="email" placeholder="Email *" class="form-control required email"
                        aria-required="true">
                </div>
            </div>
            <div class="form-group">
                <div class="form-field form-m-bttm">
                    <input name="contact_phone" type="text" placeholder="Phone" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <div class="form-field">
                    <textarea name="contact_message" placeholder="Messages *" class="txtarea form-control required"
                        aria-required="true"></textarea>
                </div>
            </div>
            <button name="submit" type="submit" class="btn btn-alt sb-h">Submit</button>
        </form>
    </div>
</div>