<div class="navbar navbar-primary">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img class="logo" alt="" src="/image/logo.jpg">
        </a>
        <div class="header-top">
            <ul class="social social-s2">
                <li><a href="https://web.facebook.com/omafumeo"><em class="fa fa-facebook" aria-hidden="true"></em></a>
                </li>
                <li><a href="https://www.linkedin.com/in/david-omafume-okoro-5ba7b3144/"><em class="fa fa-linkedin"
                            aria-hidden="true"></em></a></li>
            </ul>
            <!-- <ul class="top-contact">
                <li class="t-phone t-phone1">
                    <em class="fa fa-phone" aria-hidden="true"></em>
                    <span><a href="tel:2348140764160">+234-814-0764-160</a></span>
                </li>
            </ul> -->
        </div>
        <!-- #end Logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav"
                aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Q-Button for Mobile -->
            <!-- <div class="quote-btn"><a class="btn" href="/contact-us">Contact Us</a></div> -->
        </div>
        <!-- MainNav -->
        <nav class="navbar-collapse collapse" id="mainnav">
            <ul class="nav navbar-nav">
                <!-- Hompage -->
                <li><a href="/">Home</a></li>

                <!-- About-us page -->
                <li class="dropdown">
                    <a href="#">Who we are</a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">Overview</a></li>
                        <li><a href="/about/value">Core Value</a></li>
                        <li><a href="/about/strategy">Our strategy</a></li>
                        <li><a href="/about/goverance">Coporate Goverance</a></li>
                        <li><a href="/about/mission-vision">Mission &amp; Vision</a></li>
                        <li><a href="/about/management-team">Management Team</a></li>
                    </ul>
                </li>

                <!-- Services and Solutions page -->
                <li class="dropdown">
                    <a href="#">What we do</a>
                    <ul class="dropdown-menu">
                        <li><a href="/services/minerals-mining">Minerals, Metals &amp; Mining</a></li>
                    </ul>
                </li>

                <!-- About-us page -->
                <li class="dropdown">
                    <a href="#">Sustainability</a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="/sustainability">Overview</a></li> -->
                        <li><a href="/sustainability/operations">Our Operation</a></li>
                        <li><a href="/sustainability/production">Sustainable Production</a></li>
                        <li><a href="/sustainability/health-safety">Health &amp; Safety</a></li>
                        <li><a href="/sustainability/risk-management">Risk Management</a></li>
                        <!-- <li><a href="/sustainability/our-people">Our People</a></li> -->
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#">Investors</a>
                    <ul class="dropdown-menu">
                        <li><a href="/about/investors">Our Investors</a></li>
                        <li><a href="/about/technical-partners">Our Technical Partners</a></li>
                    </ul>
                </li>

                <!-- Metal Prices Page-->
                <li><a href="/metal-prices">Metal Prices</a></li>
                <li><a href="/contact-us">Contact us</a></li>


            </ul>
        </nav>
        <!-- #end MainNav -->
    </div>
</div>