<div class="navbar navbar-primary">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <img class="logo" alt="" src="/image/logo.jpg">
        </a>
        <div class="header-top">
            <ul class="social social-s2">
                <li><a href="https://web.facebook.com/omafumeo"><em class="fa fa-facebook" aria-hidden="true"></em></a>
                </li>
                <li><a href="#!"><em class="fa fa-twitter" aria-hidden="true"></em></a></li>
                <li><a href="https://www.linkedin.com/in/david-omafume-okoro-5ba7b3144/"><em class="fa fa-linkedin"
                            aria-hidden="true"></em></a></li>
            </ul>
            <ul class="top-contact">
                <li class="t-phone t-phone1">
                    <em class="fa fa-phone" aria-hidden="true"></em>
                    <span><a href="#">+234-814-0764-160</a></span>
                </li>
                <li class="quote-btn"><a href="/" class="btn">Get a Quote</a></li>
            </ul>
        </div>
        <!-- #end Logo -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav"
                aria-expanded="false">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- Q-Button for Mobile -->
            <div class="quote-btn"><a class="btn" href="/get-a-quote">Enquire Today</a></div>
        </div>
        <!-- MainNav -->
        <nav class="navbar-collapse collapse" id="mainnav">
            <ul class="nav navbar-nav">
                <!-- Hompage -->
                <li><a href="/">Home</a></li>

                <!-- About-us page -->
                <li class="dropdown">
                    <a href="#">About Us</a>
                    <ul class="dropdown-menu">
                        <li><a href="/about">Overview</a></li>
                        <li><a href="/about/investors">Our Investors</a></li>
                        <li><a href="/about/technical-partners">Our Technical Partners</a></li>
                        <li><a href="/about/management-team">Management Team</a></li>
                        <!-- <li><a href="/about/testimonial">Testimonial</a></li> -->
                    </ul>
                </li>

                <!-- Services and Solutions page -->
                <li class="dropdown">
                    <a href="/solutions">What we do</a>
                    <ul class="dropdown-menu">
                        <li><a href="/services/minerals-mining">Minerals, Metals &amp; Mining</a></li>
                        <!-- <li><a href="/services/renewable">Renewable Energy Technology</a></li>
                        <li><a href="/services/agriculture">Agriculture</a></li>
                        <li><a href="/services/maritime">Maritime</a></li>
                        <li><a href="/services/aviation">Aviation</a></li>
                        <li><a href="/services/oil-and-gas">Oil &amp; Gas Refinery</a></li> -->
                    </ul>
                </li>

                <!-- Project Page
                <li class="dropdown">
                    <a href="/project">Project</a>
                    <ul class="dropdown-menu">
                        <li><a href="/project/ongoing-project">Ongoing Project</a></li>
                        <li><a href="/project/completed-project">Complete Project</a></li>
                    </ul>
                </li>-->

                <!-- Blog Page -->
                <!-- <li><a href="/blog">Blog</a></li> -->

                <!-- Metal Prices Page -->
                <li><a href="/metal-prices">Metal Prices</a></li>

                <!-- Contact Page -->
                <li><a href="/contact-us">Contact Us</a></li>

                <li class="quote-btn"><a class="btn" href="/get-a-quote">Enquire Today</a></li>
            </ul>
        </nav>
        <!-- #end MainNav -->
    </div>
</div>