<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class="col-md-8">

                        <h1>Our Investors</h1>

                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <img alt=""
                                    src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo3.png">
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>Our investor and Partner <strong>Borg Global Holdings</strong>, LLC, Carries out the
                                    following
                                    activities as regard our mining activities, Carries out the following activities as
                                    regard our mining activities. </p>
                                <a href="#">www.websitename.com</a>
                            </div>
                        </div>

                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <img alt=""
                                    src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo3.png">
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>Our investor and Partner <strong>Borg Global Holdings</strong>, LLC, Carries out the
                                    following
                                    activities as regard our mining activities, Carries out the following activities as
                                    regard our mining activities. </p>
                                <a href="#">www.websitename.com</a>
                            </div>
                        </div>
                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <img alt=""
                                    src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo2.png">
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>Our investor and Partner <strong>Borg Global Holdings</strong>, LLC, Carries out the
                                    following
                                    activities as regard our mining activities, Carries out the following activities as
                                    regard our mining activities. </p>
                                <a href="#">www.websitename.com</a>
                            </div>
                        </div>
                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <img alt=""
                                    src="https://placeholder.com/wp-content/uploads/2018/10/placeholder.com-logo4.png">
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>Our investor and Partner <strong>Borg Global Holdings</strong>, LLC, Carries out the
                                    following
                                    activities as regard our mining activities, Carries out the following activities as
                                    regard our mining activities. </p>
                                <a href="#">www.websitename.com</a>
                            </div>
                        </div>

                        <div class="gaps"></div>
                        <hr>
                        <h4>Our Investors Sheet</h4>
                        <p>Transparency is key for our business and to ensure future investment learn about our
                            Investor, how much has been invested in RCF minerals Limited, Our Investment Policy and Risk
                            Management</p>
                        <p><a href="#" class="btn btn-md">Download</a></p>
                        <hr>

                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <div class="wgs-box wgs-menus">
                                <div class="wgs-content">
                                    <ul class="list list-grouped">
                                        <li class="list-heading">
                                            <span>About Our Firms</span>
                                            <ul>
                                                <li><a href="about-us.html">Overview</a></li>
                                                <li><a href="/about/clients">Our clients</a></li>
                                                <li><a href="/about/management-team">Management Team</a></li>
                                                <li class="current"><a href="/about/investors">Our Investors</a></li>
                                                <li><a href="/about/testimonial">Testimonials</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>