<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Our Technical Partners</h1>


                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="https://www.srk.co.uk/en" target="_new">
                                    <img alt="" src="https://www.srk.co.uk/sites/default/files/logo.png">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p><strong> SRK Consulting UK Limited</strong>
                                    provides professional technical consultancy services to the mining and metals
                                    sector, encompassing multi-disciplinary technical studies and due diligence for
                                    mineral assets including exploration through to development, operation and mine
                                    closure.

                                    Established in 1974, SRK employs more than 1,400 professionals internationally in
                                    over 45 offices on 6 continents.
                                </p>
                                <a href="https://www.srk.co.uk/en" target="_new">SRK Consulting
                                    Partners</a>
                            </div>
                        </div>

                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="https://www.mantracgroup.com/ng/en/about-us" target="_new">
                                    <img alt=""
                                        src="http://4.bp.blogspot.com/-23eT257QTvo/VZOdRhHt2lI/AAAAAAAAJsw/vtmBDA3wwSM/s1600/Mantrac-CAT-Logo-en-New.jpg">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>
                                    <strong>Mantrac Nigeria</strong> are the authorized Cat dealer in Nigeria,
                                    distributing and supporting
                                    the full range of Cat products. We are proud to supply the best equipment to the
                                    most demanding industries and aim to keep your equipment running at peak
                                    productivity.

                                    <strong>Mantrac Nigeria</strong> are not only a supplier, but also a solution
                                    provider, we offer
                                    integrated business solutions backed by technical expertise and local knowledge.
                                </p>
                                <a href="https://www.mantracgroup.com/ng/en/about-us" target="_new">
                                    Mantrac Nigeria</a>
                            </div>
                        </div>


                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="https://www.berkhamcapital.com/" target="_new">
                                    <img alt=""
                                        src="https://irp-cdn.multiscreensite.com/cb78afca/dms3rep/multi/mobile/Berkham+Capital+Logo+1.jpg">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>
                                    <strong>Berkham Capital</strong> is a global business development company,
                                    incorporated in England,
                                    United Kingdom, with global service offerings in transaction advisory, consulting
                                    services, transaction structuring, global finance solutions, alternative finance
                                    solutions, investment solutions, business development and project development
                                    solutions, which we offer to companies worldwide, from our office in London, United
                                    Kingdom.
                                </p>
                                <a href="https://www.berkhamcapital.com/" target="_new">Berkhamcapital.com</a>
                            </div>
                        </div>



                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="http://truckcountry.com/" target="_new">
                                    <img alt=""
                                        src="http://truckcountry.com/wp-content/uploads/2019/01/TCLogo_RGB_wTag-768x359.png">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>
                                    <strong>Truck Country®</strong> Trailer
                                    is the largest Freightliner dealer group in the U.S. today, serving customers at 23
                                    locations in Iowa, Indiana, Ohio, Minnesota, and Wisconsin. For nearly 60 years,
                                    Truck Country/Stoops has offered new and used medium and heavy duty trucks, expert
                                    service, an extensive parts inventory, and convenient financing options.
                                </p>
                                <a href="http://truckcountry.com" target="_new">truckcountry.com</a>
                            </div>
                        </div>

                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="https://www.rscmme.com/" target="_new">
                                    <img alt="" src="https://www.rscmme.com/wp-content/uploads/2017/02/logo.png">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>
                                    <strong>RSC</strong> provides geological consulting, exploration management and
                                    contract geological
                                    services to the global mining and exploration industry. For more information and
                                    specific detail on what we can do for you, please visit our services pages. Our team
                                    includes geologists, geophysicists, geochemists, resource professionals, project
                                    managers, data management and GIS professionals.

                                    <strong>RSC</strong> has experience in all stages of the mining cycle, from early
                                    stage exploration
                                    through to development, and initial production, on and to full-scale operation. We
                                    have worked in a wide range of locations with a variety of commodities, both on and
                                    offshore. Our head offices are based in New Zealand and Australia, with support
                                    offices in Mongolia, Zimbabwe and Mali.
                                </p>
                                <a href="https://www.rscmme.com/" target="_new">RSC Website</a>
                            </div>
                        </div>


                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="http://geohydro.com/" target="_new">
                                    <img alt=""
                                        src="https://media.licdn.com/media-proxy/ext?w=800&h=800&hash=FlOKiHgTo%2BF8GD6DrBFK986HREg%3D&ora=1%2CaFBCTXdkRmpGL2lvQUFBPQ%2CxAVta5g-0R6nlh8Tw1It6a2FowGz60oISIfYC2G8G2f1spyfNT-tdoDScbaisgUbfCQJhlI_IfnwEXO5H_vmY8uyK7kGieizZcWjVhETOU01szkY7YQJAFx3kdKpF-qtMWsc8e1-TwyJC73iVV8vLQll8fq4GKH6GWxUi3WUbO71GJlCE-dQpthS4kZg98WVDpMV66l8mXE9n2i43Yz1IAsozK2nI1WoUkYMA2PqIvoWlb-O8AKNlm-Lv2PmiKeyAL6VMbwN5SWn1tfWOyKTq3NukC0A_Qko0pksNiXn1NQH0FudA84RVDTbutDgWEL24Jshrg">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>
                                    <strong>Geo-Hydro</strong> understands real-world problems. We’ve made them our
                                    business since 1980,
                                    using one simple formula for success — gather the right people, employ the latest
                                    technology, and work hand-in-hand with owners, developers, design professionals,
                                    lenders and contractors throughout the industry.

                                    We study whole systems, and look at the pieces beneath those systems. We solve
                                    problems economically and on tight schedules. We make good projects better, and we
                                    do it all by working closely with you.

                                    Having the right answers is like having the right tools for the job. You can work
                                    more effectively, you can increase quality control and safety, and you can save
                                    money.
                                </p>
                                <a href="http://geohydro.com/" target="_new">Geo-Hydro</a>
                            </div>
                        </div>

                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="https://www.ey.com/en_gl/" target="_new">
                                    <img alt=""
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZFhbvQEPLppt1abNI06CrvjmIBr6bIwok__9EeAW9j8LxmV6p">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>
                                    As industries converge, they create new value and opportunities for business. EY
                                    helps organizations identify and capitalize on these new opportunities.

                                    From mobility to health care to future cities, traditional industry boundaries are
                                    being disrupted, as sectors converge to adapt to technological and societal changes.

                                    Navigating this fast-changing environment requires agility and fresh thinking. As we
                                    reinvent how we work, live and play, EY is helping clients embrace industry
                                    disruption as an opportunity.
                                </p>
                                <a href="https://www.ey.com/en_gl" target="_new">Ernst Young</a>
                            </div>
                        </div>


                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="https://www.gislexplore.com/" target="_new">
                                    <img alt="" src="https://www.gislexplore.com/images/gisllogo.png">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>
                                    GEODEL INTEGRATED SYSTEMS LTD (GISL) was established as an indigenous exploration
                                    company in 2008, in Nigeria with technical partners in Canada to support the solid
                                    mineral development drive of the nation and also bridge the gap between discovering
                                    and exploitation.
                                </p>
                                <p>GISL team is made up of highly experienced professionals with advance knowledge of
                                    cutting edge exploration tools and Nigerian geological setting. The company provides
                                    a wide range of geological services, geochemical studies, geological surveys and
                                    drilling operations at the industry’s best standard and also provides developmental
                                    services for mines such as mineral resource estimation, mine planning and design to
                                    optimize mineral extraction in the most profitable approach.
                                </p>

                                <a href="https://www.gislexplore.com/" target="_new">GEODEL INTEGRATED SYSTEMS LTD</a>
                            </div>
                        </div>

                        <div class="gaps"></div>
                        <hr>

                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <div class="wgs-box wgs-menus">
                                <div class="wgs-content">
                                    <ul class="list list-grouped">
                                        <li class="list-heading">
                                            <span>About Our Firms</span>
                                            <ul>
                                                <li><a href="about-us.html">Overview</a></li>
                                                <li><a href="/about/investors">Our Investors</a></li>
                                                <li class="current"><a href="/about/technical-partners">Our Technical
                                                        Partners</a></li>
                                                <li><a href="/about/management-team">Management Team</a></li>
                                                <!-- <li><a href="/about/testimonial">Testimonials</a></li> -->
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>