<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Corporate Governace</h1>
                        <p>
                            RCF is committed to high standards of corporate governance. It is a fundamental part of the
                            company’s business practice. The corporate governance statement defines the rights and
                            responsibilities of the board of directors, institutional investors, private shareholders
                            and other stakeholders. RCF and its directors and employees are committed to high standards
                            of business conduct and compliance with the law. These standards and principles are set out
                            in the RCF code of Business Conduct.
                            <br>
                            Auditors : Ernst & Young, Nigeria
                            The appointment of external auditors (Ernst & Young, Nigeria) is a function of the full
                            board on the E
                            recommendation of the Audit & Risk Committee and is subject to approval by shareholders. Any
                            work to be conducted by the external auditors outside the agreed scope of the Audit is to be
                            approved by the Audit & Risk Committee.
                            RA Policy for the rotation of external Audit engagement partners LS
                            RCF shall select and appoint external auditors and rotate external audit engagement partners
                            every five years.
                        </p>

                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>