<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Our Technical Partners</h1>

                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="https://www.rscmme.com/" target="_new">
                                    <img alt="" src="https://www.rscmme.com/wp-content/uploads/2017/02/logo.png">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>
                                    <strong>RSC</strong> provides geological consulting, exploration management and
                                    contract geological
                                    services to the global mining and exploration industry. For more information and
                                    specific detail on what we can do for you, please visit our services pages. Our team
                                    includes geologists, geophysicists, geochemists, resource professionals, project
                                    managers, data management and GIS professionals.

                                    <strong>RSC</strong> has experience in all stages of the mining cycle, from early
                                    stage exploration
                                    through to development, and initial production, on and to full-scale operation. We
                                    have worked in a wide range of locations with a variety of commodities, both on and
                                    offshore. Our head offices are based in New Zealand and Australia, with support
                                    offices in Mongolia, Zimbabwe and Mali.
                                </p>
                                <a href="https://www.rscmme.com/" target="_new">RSC Website</a>
                            </div>
                        </div>

                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="https://www.ey.com/en_gl/" target="_new">
                                    <img alt=""
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZFhbvQEPLppt1abNI06CrvjmIBr6bIwok__9EeAW9j8LxmV6p">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>
                                    As industries converge, they create new value and opportunities for business. EY
                                    helps organizations identify and capitalize on these new opportunities.

                                    From mobility to health care to future cities, traditional industry boundaries are
                                    being disrupted, as sectors converge to adapt to technological and societal changes.

                                    Navigating this fast-changing environment requires agility and fresh thinking. As we
                                    reinvent how we work, live and play, EY is helping clients embrace industry
                                    disruption as an opportunity.
                                </p>
                                <a href="https://www.ey.com/en_gl" target="_new">Ernst Young</a>
                            </div>
                        </div>

                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="https://www.srk.co.uk/en" target="_new">
                                    <img alt="" src="https://www.srk.co.uk/sites/default/files/logo.png">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p><strong> SRK Consulting</strong>
                                    provides professional technical consultancy services to the mining and metals
                                    sector, encompassing multi-disciplinary technical studies and due diligence for
                                    mineral assets including exploration through to development, operation and mine
                                    closure.

                                    Established in 1974, SRK employs more than 1,400 professionals internationally in
                                    over 45 offices on 6 continents.
                                </p>
                                <a href="https://www.srk.co.uk/en" target="_new">SRK Consulting
                                    Partners</a>
                            </div>
                        </div>

                        <div class="gaps"></div>
                        <hr>
                        <h4>Our Investors Sheet</h4>
                        <p>Transparency is key for our business and to ensure future investment learn about our
                            Investor, how much has been invested in RCF minerals Limited, Our Investment Policy and Risk
                            Management</p>
                        <p><a href="#" class="btn btn-md">Download</a></p>
                        <hr>

                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <div class="wgs-box wgs-menus">
                                <div class="wgs-content">
                                    <ul class="list list-grouped">
                                        <li class="list-heading">
                                            <span>About Our Firms</span>
                                            <ul>
                                                <li><a href="about-us.html">Overview</a></li>
                                                <li><a href="/about/investors">Our Investors</a></li>
                                                <li class="current"><a href="/about/technical-partners">Our Technical
                                                        Partners</a></li>
                                                <li><a href="/about/management-team">Management Team</a></li>
                                                <!-- <li><a href="/about/testimonial">Testimonials</a></li> -->
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>