<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Mission and Vision</h1>
                        <div class="gaps"></div>

                        <h3>VISION</h3>
                        <p class="lead">RCF Minerals Limited Vision is to be a successful mineral explorer and
                            subsequently a
                            profitable producer of metals with a portfolio of quality assets with the opportunity
                            for further exploration growth.</p>


                        <h3>MISSION</h3>
                        <p class="lead">Our business is to create value for our shareholders by discovering, acquiring,
                            developing , producing and marketing mineral resources at a profit.
                        </p>


                        <h3>Our Philosophy</h3>
                        <p class="lead">
                            RCF Minerals limited Philosophy is to operate mines safely by promoting a deeply-rooted
                            value-based culture, leveraging mining skills developed over the company’s long history, and
                            by innovating new practices.
                        </p>


                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>