<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">

                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>

                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class="text-justify col-md-8">

                        <h1>About RCF Minerals limited</h1>
                        <p>
                            <strong>RCF Minerals limited</strong> RCF is a newly established Nigerian Natural Resources
                            company with a
                            specific focus on Zinc Ore, Lead Ore, Copper Ore, the feedstock for their respective
                            smelting. <br>
                            RCFML is a mining company which engages in the exploration, development and production of
                            minerals resources properties throughout Nigeria with it principal assets- Keana Mines,
                            Kanam Mines, Rafi Mines, Gurara Mines, Alkaleri Mines , Wase Mines, Ganjuwa Mines, etc
                        </p>
                        <p>
                            We are an exploration- stage mining company focused at advancing its Lead-Zinc deposits in
                            Nigeria -a country that is committed to developing its natural resources under the president
                            Mohammed Buhari led administration and is rapidly emerging as an economic powerhouse. we are
                            led by experienced mining professionals who are dedicated to the responsible production of
                            solid minerals in southern Nigeria.
                        </p>

                        <p>
                            In our quest to develop and operate world-class mines, we are dedicated to maximizing
                            shareholder
                            value while working to the highest standards of environmental stewardship, community
                            engagement and employee health and safety
                        </p>

                        <p>
                            RCF has a portfolio of low-cost, high-grade open cast Lead-Zinc Ore mines and is firmly
                            focused on maximizing shareholder returns.
                            <strong>RCF Minerals Limited</strong> shall continue to invest in building a strong asset
                            base through
                            strategic acquisition and aggressive exploration to extend the mines lives across its
                            operation. C
                            We operate large, long-lived, asset with significant proven and probable resources of Zinc
                            and Lead Ore
                            or Oxide.
                        </p>

                        <p>
                            Established 3rd August, 2017, <strong>RCF Minerals Limited</strong> with registered office
                            address at
                            #14, Magbaja Street, Off Akah Avenue, Off Refinery Road, Effurun, Delta State, Nigeria and
                            has a subsidiary company
                            , RCF Holdings UK Limited with certificate of Incorporation company number, 11860173
                            registered on the
                            5th of March, 2019, and has an active exploration and development programme, the company
                            shall
                            consistently grow its reserve base for further production
                        </p>

                        <div class="gaps"></div>
                        <div class="col-md-7 npl res-m-bttm">
                            <h3>VISION</h3>
                            <p>RCF Minerals Limited Vision is to be a successful mineral explorer and subsequently a
                                profitable producer of metals with a portfolio of quality assets with the opportunity
                                for further exploration growth.</p>
                        </div>
                        <div class="col-md-4 npr col-md-offset-1">
                            <h3>MISSION</h3>
                            <p>Our business is to create value for our shareholders by discovering, acquiring,
                                developing , producing and marketing mineral resources at a profit.
                            </p>
                        </div>


                        <div class="clear"></div>


                        <!-- TeamRow #end -->


                        <div class="gaps"></div>
                        <hr>
                        <h4>Our Corporate Profile</h4>
                        <p>Get more information about RCF Minerals Limited, Organisation Structure, Investors and
                            International Partners here.</p>
                        <p><a href="#" class="btn btn-md">Download</a></p>

                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <div class="wgs-box wgs-menus">
                                <div class="wgs-content">
                                    <ul class="list list-grouped">
                                        <li class="list-heading">
                                            <span>About Our Firms</span>
                                            <ul>
                                                <li class="current"><a href="about-us.html">Overview</a></li>
                                                <li><a href="/about/clients">Our clients</a></li>
                                                <li><a href="/about/management-team">Management Team</a></li>
                                                <li><a href="/about/investors">Our Investors</a></li>
                                                <li><a href="/about/testimonial">Testimonials</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>


</body>
<% include partials/footer %>