<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Our Strategy</h1>
                        <p>
                            Our strategy is clear- to develop a responsible company that is attractive to global
                            investors by
                        </p>
                        <p>
                            Sustaining critical mass – maintaining Lead-Zinc ore production of greater than 40,000TPA
                            Maintaining a diversified asset base through our portfolio of world-class operating mines.
                            Ensuring our assets have significant mine lives-improving mines live to greater than five
                            years through aggressive in-mine and near-mine exploration, targeting total group resources
                            Maintaining low-cost operations-constantly driving efficiencies and productivity to achieve
                            all-in sustaining cost.
                            Upholding strong financial disciplines-continuing to deliver superior results and
                            maintaining our track record of paying-fully-franked dividends to shareholders.
                        </p>


                        <h1>Implementing Our Strategy</h1>

                        <p class="lead">
                            Central to the implementing of RCF Minerals Limited strategy is:
                        </p>

                        <h4>QUALITY OF OUR WORKFORCE</h4>
                        <p>
                            The delivery of sustainable operations-we are highly focused on strategy and committed to
                            strong environmental management and social responsibility
                        </p>

                        <h4>
                            TAKING A RESPONSIBLE APPROACH TO HEDGING.
                        </h4>

                        <p>
                            Investing in exploration technology to maximize the value of our existing assets by
                            examining known –in-mine, near-mine and regional targets.
                            Using exploration technology and management experience to make well-informed decisions and
                            implements our exploration initiatives in a timely and prudent manner.
                        </p>
                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>