<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Our Management Team</h1>

                        <!-- <p>Lorem ipsum dolor sit amet consectetur to adipiscing elit, sed dot eiusmod tempor incididunt
                            labore et dolore magna aliqua. Veniam quis nostrud exercitation ullamco laboris nisiut ipsum
                            dolor sit amet consectetur to adipiscing elit. Sed dot eiusmod tempor incididunt labore et
                            dolore magna aliqua.</p> -->
                        <div class="team-profile">
                            <div class="team-member row">
                                <div class="team-photo col-md-4 col-sm-5 col-xs-12">
                                    <img
                                        src="https://media.licdn.com/dms/image/C5103AQG805T8_i1noQ/profile-displayphoto-shrink_800_800/0?e=1562198400&v=beta&t=UiMgU7kssovc3DNMc_y0_2iiXVfV5hfm_ED2ivOtKcw">
                                </div>
                                <div class="team-info col-md-8 col-sm-7 col-xs-12">
                                    <h3 class="name">
                                        <a href="https://www.linkedin.com/in/david-omafume-okoro-5ba7b3144/">
                                            David Omafume Okoro
                                        </a>
                                    </h3>
                                    <p class="sub-title">Lead Consultant-Managing Director/CEO</p>
                                    <p>
                                        David Okoro has a background as a Mechanical Engineering Technologist and
                                        Environmental Resources Manager. A talented and multi-skilled individual through
                                        many years of organizational and personal development spanning the Oil & Gas,
                                        Export & Finance Of International Trade, Mining Logistics, Haulage , etc. An
                                        author, Youth counsellor, Entrepreneur , Negotiator , Business Developer ,
                                        Publisher, etc
                                    </p>
                                    <p>
                                        <ul class="social">
                                            <li>
                                                <a href="https://web.facebook.com/omafumeo"><em class="fa fa-facebook"
                                                        aria-hidden="true"></em></a>
                                            </li>
                                            <li>
                                                <a href="https://www.linkedin.com/in/david-omafume-okoro-5ba7b3144/"><em
                                                        class="fa fa-linkedin" aria-hidden="true"></em></a>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team-profile">
                            <div class="team-member row">
                                <div class="team-photo col-md-4 col-sm-5 col-xs-12">
                                    <a href="https://www.linkedin.com/in/josephoyediran/">
                                        <img alt=""
                                            src="https://www.palmcityyachts.com/wp/wp-content/uploads/palmcityyachts.com/2015/09/default-profile.png">
                                    </a>
                                </div>
                                <div class="team-info col-md-8 col-sm-7 col-xs-12">
                                    <h3 class="name">
                                        <a href="https://www.linkedin.com/in/josephoyediran/">
                                            Joseph O Oyediran
                                        </a>
                                    </h3>
                                    <p class="sub-title">- Lead Transaction Adviser & Financial Consultant (CFO)</p>
                                    <p>
                                        A British citizen, investment banker, project finance specialist, investment
                                        strategist, consultant and entrepreneur. He M
                                        trained in England as a Chemical Engineer, Stockbroker and Finance Specialist at
                                        Richmond Upon Thames College, Twickenham, England; London South Bank University,
                                        London; Birkbeck College, London (University of London); Cambridge University
                                        (UK) and University of Hertfordshire in Hatfield, Hertfordshire, England.
                                    </p>
                                    <p>He is highly skilled
                                        and versatile in finance, investing and financial advisory, most especially,
                                        project finance, structured finance, leverage
                                        finance, venture capital and private equity investment transactions. He is very
                                        adept in structuring project finance R transactions, energy & capital-intensive
                                        industrial project transactions as well as structuring equity capital for
                                        acquisitions,
                                        private equity, buyouts, leverage finance, unconventional funding and
                                        investments.
                                    </p>
                                    <p>
                                        <ul class="social">
                                            <li>
                                                <a href="https://www.linkedin.com/in/josephoyediran/"><em
                                                        class="fa fa-linkedin" aria-hidden="true"></em></a>
                                            </li>
                                        </ul>
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="team-profile">
                            <div class="team-member row">
                                <div class="team-photo col-md-4 col-sm-5 col-xs-12">
                                    <img
                                        src="https://www.palmcityyachts.com/wp/wp-content/uploads/palmcityyachts.com/2015/09/default-profile.png">
                                </div>
                                <div class="team-info col-md-8 col-sm-7 col-xs-12">
                                    <h3 class="name"> Emeyak Dickson Akang</h3>
                                    <p class="sub-title">Project Manager</p>
                                    <p>
                                        A project manager with +5 years experience in managing people and process on
                                        projects in construction management; I am proficient at building and maintaining
                                        professional relationship. Have a degree in Chemical Engineering from the
                                        University of Port Harcourt, Rivers State, Nigeria and Masters in Project
                                        management from Northumbria University in Newcastle Upon Tyne, England, United
                                        Kingdom.
                                    </p>
                                    <p>
                                        As a project manager today I have manage different levels of projects at the
                                        same time, and also work with both consultants and construction workers of +60
                                        on sites at the same time. I am a skilled communicator, able to maintain
                                        cultural sensitivity, establish understanding with members of diverse groups and
                                        wield team into a cohesive unit. Organized and independent, I am able to
                                        coordinate tasks to accomplish project with timelines.
                                    </p>
                                    <p>
                                        <ul class="social">
                                            <li>
                                                <a href="#"><em class="fa fa-facebook" aria-hidden="true"></em></a>
                                            </li>
                                            <li>
                                                <a href="#!"><em class="fa fa-twitter" aria-hidden="true"></em></a>
                                            </li>
                                            <li>
                                                <a href="#"><em class="fa fa-linkedin" aria-hidden="true"></em></a>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="team-profile">
                            <div class="team-member row">
                                <div class="team-photo col-md-4 col-sm-5 col-xs-12">
                                    <img
                                        src="https://media.licdn.com/dms/image/C5603AQGZ31g3kSqQkA/profile-displayphoto-shrink_200_200/0?e=1562198400&v=beta&t=8QK98c3wsNqyO1O7x7U1cOXzf9GSvY05N-f5ElMxKh8">
                                </div>
                                <div class="team-info col-md-8 col-sm-7 col-xs-12">
                                    <h3 class="name">
                                        <a href="https://www.linkedin.com/in/olayinka-odekanle-23447635/">
                                            Olayinka Odekanle

                                        </a>
                                    </h3>
                                    <p class="sub-title">Chief Operating Officer</p>
                                    <p>
                                        Mr. Odekanle Olayinka, a Senior Exploration Geologist , whose objective is to be
                                        a renowned Resource/Ore modeling geologist and a pioneering geologist of modern
                                        gold mines in Nigeria.
                                        He is a member of Nigerian Mining and Geosciences Society (NMGS) and a member of
                                        Council
                                        of Mining Engineers and Geosciences(COMEG) and hold a Post Graduate Diploma in
                                        Mineral Exploration from Nigerian Institute of Mining & Geosciences, Jos.
                                    </p>
                                    <p>
                                        He has over fifteen years’ experiences in Mineral exploration for base, precious
                                        metals and gems. He has worked as a
                                        senior exploration geologist to the proposed modern gold mines to be in Nigeria
                                        (Segilola Gold
                                        Project) in the south-western part of Nigeria. He understands Nigeria geology
                                        very well.
                                    </p>

                                    <p>
                                        <ul class="social">

                                            <li>
                                                <a href="https://www.linkedin.com/in/olayinka-odekanle-23447635/"><em
                                                        class="fa fa-linkedin" aria-hidden="true"></em></a>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="team-profile">
                            <div class="team-member row">
                                <div class="team-photo col-md-4 col-sm-5 col-xs-12">
                                    <a href="https://www.linkedin.com/in/sandra-chinedu-momah-a6351632/">
                                        <img
                                            src="https://media.licdn.com/dms/image/C5603AQGFzs4VFMpdJQ/profile-displayphoto-shrink_200_200/0?e=1562198400&v=beta&t=4iWXyjA2osTXDyq3IA5oeQXUPxSRMc_JNHwLEkUlnYw">
                                    </a>
                                </div>
                                <div class="team-info col-md-8 col-sm-7 col-xs-12">
                                    <h3 class="name">
                                        <a href="https://www.linkedin.com/in/sandra-chinedu-momah-a6351632/">
                                            Sandra Momah
                                        </a>
                                    </h3>
                                    <p class="sub-title">External Auditor ( Consultant) </p>
                                    <p>
                                        Sandra has over 14 years of audit and tax experience and has worked across
                                        various business sectors. Sandra Joined Ernst & Young Nigeria assurance team in
                                        2004 as a staff accountant and later joined the Tax team in 2006.

                                        Sandra’s areas of expertise include tax advisory services on local and
                                        cross-border transactions, tax due diligence, tax restructuring, project
                                        management , People management, and Financial analysis. She has been on
                                        secondment in Ernst & Young Germany where she worked with the human capital and
                                        transaction tax team.
                                    </p>

                                    <p>
                                        She holds a Master degree in Business administration, Advanced Diploma in
                                        International Tax and Transfer Pricing from Thomas Jefferson School of Law
                                        United States . She is a fellow of both Institute of Chartered Accountants of
                                        Nigeria (ICAN) and Chartered Institute of Taxation of Nigeria (CITN). She is a
                                        member of Nigeria Institute of Management (Chartd).

                                    </p>

                                    <p>
                                        <ul class="social">
                                            <li>
                                                <a href="https://www.linkedin.com/in/sandra-chinedu-momah-a6351632/"><em
                                                        class="fa fa-linkedin" aria-hidden="true"></em></a>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="team-profile">
                            <div class="team-member row">
                                <div class="team-photo col-md-4 col-sm-5 col-xs-12">
                                    <img
                                        src="https://www.palmcityyachts.com/wp/wp-content/uploads/palmcityyachts.com/2015/09/default-profile.png">
                                </div>
                                <div class="team-info col-md-8 col-sm-7 col-xs-12">
                                    <h3 class="name">
                                        <a
                                            href="https://www.linkedin.com/in/olufunke-fasogbon-mnim-mcicn-mba-1699a387/">Olufunke
                                            Fasogbon MNIM, MCICN, MBA</a>
                                    </h3>
                                    <p class="sub-title">Business Consultant HR</p>
                                    <p>
                                        Olufunke is a talented and multi-skilled professional with experience spanning
                                        the F
                                        Manufacturing, Oil and Gas, and Real Estate Industries. An Author, Counsellor,
                                        Recruiter and Real Estate Expert who has a Master's degree in Business
                                        Administration from Obafemi Awolowo University, Osun State, Nigeria; a
                                        Bachelor's degree in Business Administration from Covenant University. She is
                                        also an Associate Member of the Nigerian Institute of Management and Chartered
                                        Institute of Commerce of Nigeria. An Achiever and an outstanding solution
                                        provider
                                    </p>

                                    <p>
                                        <ul class="social">

                                            <li>
                                                <a
                                                    href="https://www.linkedin.com/in/olufunke-fasogbon-mnim-mcicn-mba-1699a387/"><em
                                                        class="fa fa-linkedin" aria-hidden="true"></em></a>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>


                        <div class="team-profile">
                            <div class="team-member row">
                                <div class="team-photo col-md-4 col-sm-5 col-xs-12">
                                    <a href="https://www.linkedin.com/in/campbell-mckenzie-12b96342/">
                                        <img
                                            src="https://media.licdn.com/dms/image/C5603AQGR2KKlLXw_MQ/profile-displayphoto-shrink_200_200/0?e=1562198400&v=beta&t=Y1g8etPQjJjmj-xE7WbpwTmYKxCeS7S30vhRtufm0hw">
                                    </a>
                                </div>
                                <div class="team-info col-md-8 col-sm-7 col-xs-12">
                                    <h3 class="name">
                                        <a href="https://www.linkedin.com/in/campbell-mckenzie-12b96342/">
                                            Campbell McKenzie
                                        </a>
                                    </h3>
                                    <p class="sub-title"> Chief Technical Officer</p>
                                    <p>
                                        Campbell has a background as an exploration geologist and holds a BSc (Hons) in
                                        Geology.
                                        He has worked globally in the minerals industry for twenty years with experience
                                        covering
                                        mineral exploration and mining, business development, stakeholder relations,
                                        investment promotion and joint industry – academia research. He has held upper
                                        management roles
                                        with mineral sector consultancies, government and industry.

                                    </p>

                                    <p>
                                        This has included
                                        managing the minerals group for the New Zealand government for a period, as New
                                        Zealand Country Manager for marine minerals explorer Neptune Minerals Plc, and
                                        more recently CEO of
                                        Kenex – a New Zealand based consultancy providing GIS and exploration services
                                        to the
                                        industry . Campbell is based at RSC’s Wellington office and manages the
                                        company’s Business Development.
                                    </p>

                                    <p>
                                        <ul class="social">
                                            <li>
                                                <a href="https://www.linkedin.com/in/campbell-mckenzie-12b96342/">
                                                    <em class="fa fa-linkedin" aria-hidden="true"></em></a>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="team-profile">
                            <div class="team-member row">
                                <div class="team-photo col-md-4 col-sm-5 col-xs-12">
                                    <img
                                        src="https://media.licdn.com/dms/image/C5603AQEHDdJY-_L9CA/profile-displayphoto-shrink_200_200/0?e=1562198400&v=beta&t=mJP4mUyrOJrO-4hCL2PX71iqwgbNi2jFH3RjIosTHI0">
                                </div>
                                <div class="team-info col-md-8 col-sm-7 col-xs-12">
                                    <a href="https://www.linkedin.com/in/dr-oladele-olaniyan-29b97342/">
                                        <h3 class="name"> Dr. Oladele Olaniyan</h3>
                                    </a>
                                    <p class="sub-title">Mineral Exploration Consultant</p>
                                    <p>
                                        Chief Executive Officer of Geodel Integrated Systems Ltd (GISL), a mineral
                                        exploration company in Nigeria. He is a graduate of Laurentian University,
                                        Sudbury Canada, where he received a Doctorate degree in Mineral deposit
                                        (Exploration Geophysics). He also has an MSc. Geo-informatics ITC, Enscheda,
                                        Netherlands and a B.Sc. Geology from UNAD, Ekiti State, Nigeria.
                                    </p>
                                    <p>
                                        For the past 12 years, Dr. Dele have been actively involved in mineral
                                        exploration and
                                        quarry projects in most part of Nigeria and other parts of the world including
                                        Canada, and
                                        Ghana. He has special interest in geo-scientific data integration and
                                        interpretation to further E understand the subsurface geometry of buried
                                        geological structures and mineralisation.
                                    </p>

                                    <p>
                                        <ul class="social">
                                            <li>
                                                <a href="https://www.linkedin.com/in/dr-oladele-olaniyan-29b97342/"><em
                                                        class="fa fa-linkedin" aria-hidden="true"></em></a>
                                            </li>
                                        </ul>
                                    </p>
                                </div>
                            </div>
                        </div>



                        <div class="team-profile">
                            <div class="team-member row">
                                <div class="team-photo col-md-4 col-sm-5 col-xs-12">
                                    <img
                                        src="https://www.palmcityyachts.com/wp/wp-content/uploads/palmcityyachts.com/2015/09/default-profile.png">
                                </div>
                                <div class="team-info col-md-8 col-sm-7 col-xs-12">
                                    <h3 class="name">Dr. Cyril G. A. Okoro </h3>
                                    <p class="sub-title"> Accountant/Internal Auditor (Consultant)</p>

                                    <p>
                                        A seasoned accountant auditor and instructor consultant with a bent on public
                                        and private institutions policy analyst and commentator. A citizen of Nigeria
                                        from Delta State Nigeria. He studied and trained with chartered association of
                                        certified accountants (ACCA), UK.
                                        He has been involved in many installation of organisation system such as IRS
                                        airlines limited. A triple award winning airlines company where he installed an
                                        anti-fraud device on revenue and cash management in addition to customer service
                                        system that is implemented by all other airlines companies in Nigeria.
                                        He is currently the Head, Directorate of Research and training Port and Terminal
                                        management academy of Nigeria,(POTEMAN) he is the chief resident consultant to
                                        yes airlines limited in which he is the first to have
                                        ever organised a 6-Month employee induction for fresh applicants seeking
                                        employment to yes Airlines N Company limited.
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <div class="wgs-box wgs-menus">
                                <div class="wgs-content">
                                    <ul class="list list-grouped">
                                        <li class="list-heading">
                                            <span>About Our Firms</span>
                                            <ul>
                                                <li><a href="about-us.html">Overview</a></li>
                                                <li><a href="/about/investors">Our Investors</a></li>
                                                <li><a href="/about/technical-partners">Our Technical
                                                        Partners</a></li>
                                                <li class="current"><a href="/about/management-team">Management Team</a>
                                                </li>
                                                <!-- <li><a href="/about/testimonial">Testimonials</a></li> -->
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>