<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Our Investors</h1>

                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="https://www.berkhamcapital.com/" target="_new">
                                    <img alt=""
                                        src="https://irp-cdn.multiscreensite.com/cb78afca/dms3rep/multi/mobile/Berkham+Capital+Logo+1.jpg">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p>
                                    <strong>Berkham Capital</strong> is a global business development company,
                                    incorporated in England,
                                    United Kingdom, with global service offerings in transaction advisory, consulting
                                    services, transaction structuring, global finance solutions, alternative finance
                                    solutions, investment solutions, business development and project development
                                    solutions, which we offer to companies worldwide, from our office in London, United
                                    Kingdom.
                                </p>
                                <a href="https://www.berkhamcapital.com/" target="_new">Berkhamcapital.com</a>
                            </div>
                        </div>

                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="http://www.borgglobal.com/home.html" target="_new">
                                    <img alt="Borg global"
                                        src="http://nebula.wsimg.com/9d5045b4df17df263276379c12095a9d?AccessKeyId=CE27C4A2838524DE9939&disposition=0&alloworigin=1">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p><strong>Borg global</strong>
                                    The global project development, funding and business model philosophies of Borg and
                                    ICG lends themselves to the art of strategic development and the power of
                                    controlling their own niche-based environments. Strategic development is the name
                                    given to the most important, difficult, and encompassing challenge that confronts
                                    any private or public business organization; that is .... how to lay the foundation
                                    to an innovative group of companies for tomorrow's success while competing and
                                    positioning itself to win in today's global economy
                                </p>
                                <a href="http://www.borgglobal.com/home.html" target="_new">borgglobal.com</a>
                            </div>
                        </div>


                        <div class="client-logo row space-top-md">
                            <div class="col-sm-4 col-xs-6 res-m-bttm-xs">
                                <a href="https://www.sapphirecapitalpartners.co.uk/" target="_new">
                                    <img alt=""
                                        src="https://www.sapphirecapitalpartners.co.uk/hs-fs/hubfs/Sapphire%20Logo/Sapphire_Logo_Large_Large.jpg?width=296&name=Sapphire_Logo_Large_Large.jpg">
                                </a>
                            </div>
                            <div class="col-sm-8 col-xs-12">
                                <p><strong>Sapphire Capital Partner</strong> is a multi award winning firm that
                                    specialises in obtaining SEIS, EIS and
                                    VCT advance assurance from HMRC. Sapphire can help business to Quickly obtain
                                    the HMRC advance assurance for SEIS, EIS and VCT companies, Draft the investor
                                    documents, Ensure that a company is investment ready, and also give advise on the
                                    corporate structure.
                                </p>
                                <a href="https://www.sapphirecapitalpartners.co.uk" target="_new">Sapphire capital
                                    Partners</a>
                            </div>
                        </div>



                        <div class="gaps"></div>
                        <hr>
                        <h4>Our Investors Sheet</h4>
                        <p>Transparency is key for our business and to ensure future investment learn about our
                            Investor, how much has been invested in RCF minerals Limited, Our Investment Policy and Risk
                            Management</p>
                        <p><a href="#" class="btn btn-md">Download</a></p>
                        <hr>

                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <div class="wgs-box wgs-menus">
                                <div class="wgs-content">
                                    <ul class="list list-grouped">
                                        <li class="list-heading">
                                            <span>About Our Firms</span>
                                            <ul>
                                                <li><a href="about-us.html">Overview</a></li>
                                                <li class="current"><a href="/about/investors">Our Investors</a></li>
                                                <li><a href="/about/technical-partners">Our Technical
                                                        Partners</a></li>
                                                <li><a href="/about/management-team">Management Team</a></li>
                                                <!-- <li><a href="/about/testimonial">Testimonials</a></li> -->
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>