<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">

                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>

                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class="col-md-8">

                        <h1>About RCF Minerals limited</h1>
                        <p>
                            <strong>RCF Minerals limited</strong> RCF is a newly established Nigerian Natural Resources
                            company with a
                            specific focus on Zinc Ore, Lead Ore, Copper Ore, the feedstock for their respective
                            smelting. <br>
                            RCFML is a mining company which engages in the exploration, development and production of
                            minerals resources properties throughout Nigeria with it principal assets- Keana Mines,
                            Kanam Mines, Rafi Mines, Gurara Mines, Alkaleri Mines , Wase Mines, Ganjuwa Mines, etc
                        </p>
                        <p>
                            We are an exploration- stage mining company focused at advancing its Lead-Zinc deposits in
                            Nigeria -a country that is committed to developing its natural resources under the president
                            Mohammed Buhari led administration and is rapidly emerging as an economic powerhouse. we are
                            led by experienced mining professionals who are dedicated to the responsible production of
                            solid minerals in southern Nigeria.
                        </p>

                        <p>
                            In our quest to develop and operate world-class mines, we are dedicated to maximizing
                            shareholder
                            value while working to the highest standards of environmental stewardship, community
                            engagement and employee health and safety
                        </p>

                        <p>
                            RCF has a portfolio of low-cost, high-grade open cast Lead-Zinc Ore mines and is firmly
                            focused on maximizing shareholder returns.
                            <strong>RCF Minerals Limited</strong> shall continue to invest in building a strong asset
                            base through
                            strategic acquisition and aggressive exploration to extend the mines lives across its
                            operation. C
                            We operate large, long-lived, asset with significant proven and probable resources of Zinc
                            and Lead Ore
                            or Oxide.
                        </p>

                        <p>
                            Established 3rd August, 2017, <strong>RCF Minerals Limited</strong> with registered office
                            address at
                            #14,Magbaja M Street, Off Akah Avenue, Off Refinery Road, Effurun, Delta State, Nigeria and
                            has a subsidiary company
                            , RCF Holdings UK Limited with certificate of Incorporation company number, 11860173
                            registered on the
                            5th of March,2019, and has an active exploration and development programme, the company
                            shall N
                            consistently grow its reserve base for further production
                        </p>

                        <div class="gaps"></div>
                        <div class="col-md-7 npl res-m-bttm">
                            <h3>VISION</h3>
                            <p>RCF Minerals Limited Vision is to be a successful mineral explorer and subsequently a
                                profitable producer of metals with a portfolio of quality assets with the opportunity
                                for further exploration growth.</p>
                        </div>
                        <div class="col-md-4 npr col-md-offset-1">
                            <h3>MISSION</h3>
                            <p>Our business is to create value for our shareholders by discovering, acquiring,
                                developing , producing and marketing mineral resources at a profit.

                            </p>
                        </div>

                        <div class="clear"></div>
                        <hr>
                        <h2>Our Strategic Purpose</h2>
                        <p class="lead">Our purpose follow leading design, engineering and industrial manufacturing
                            company specialising in mining, oil, gas and engineering services.</p>
                        <div class="gaps"></div>
                        <h4>Our Vision</h4>
                        <p>Consecteturt adipiscing elit sed do eiusmod tempor incididunt quis nostrud exercation ullamco
                            laboris nisi ution aliquip exon eiusmod tempor commodo conquat.</p>
                        <h4>Our Mission</h4>
                        <p>To strive towards adding value to the consect tempor incididunt quis nostrud aliquip exon
                            eiusmod tempor commodo conquat exercation ullamco laboris nisi ution.</p>
                        <div class="gaps"></div>
                        <div class="col-md-7 npl res-m-bttm">
                            <h4>Our Strategy</h4>
                            <p>To identify potential areas of improvement within the ipsum dolor sit amet onsectetur
                                adipiscing elit. These eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                                enim ad minim veniam, quis nostrud exercation ullamco laboris nisi ution aliquip exon
                                commodo conquat. Duis aute irure dolor nostrud ullamco.</p>
                        </div>
                        <div class="col-md-4 npr col-md-offset-1">
                            <h4>Our Values</h4>
                            <ul>
                                <li>Innovation</li>
                                <li>Excellence</li>
                                <li>Respect</li>
                                <li>Integrity</li>
                                <li>Responsibility</li>
                            </ul>
                        </div>
                        <div class="clear"></div>

                        <hr>
                        <h2>Our Executive Team</h2>
                        <p>Lorem ipsum dolor sit amet consectetur to adipiscing elit labore et dolore. Eiusmod tempor
                            incididunt ut labore et dolore magna aliqua enim ad minim veniam. Duis aute irure dolor
                            nostrud ullamco.</p>
                        <div class="team-member-row row mgtop">
                            <div class="col-md-4 col-sm-6 col-xs-6 even">
                                <!-- Team Profile -->
                                <div class="team-member">
                                    <div class="team-photo">
                                        <img alt="" src="image/team-a.jpg">
                                    </div>
                                    <div class="team-info">
                                        <h4 class="name">Robert Miller</h4>
                                        <p class="sub-title">Managing Director &amp; CEO</p>
                                    </div>
                                </div>
                                <!-- Team #end -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6 odd">
                                <!-- Team Profile -->
                                <div class="team-member">
                                    <div class="team-photo">
                                        <img alt="" src="image/team-b.jpg">
                                    </div>
                                    <div class="team-info">
                                        <h4 class="name">Stephen Everett</h4>
                                        <p class="sub-title">Chief Operating Officer</p>
                                    </div>
                                </div>
                                <!-- Team #end -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6 even">
                                <!-- Team Profile -->
                                <div class="team-member">
                                    <div class="team-photo">
                                        <img alt="" src="image/team-c.jpg">
                                    </div>
                                    <div class="team-info">
                                        <h4 class="name">Philip Hennessy</h4>
                                        <p class="sub-title">Non-Executive Director</p>
                                    </div>
                                </div>
                                <!-- Team #end -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6 odd">
                                <!-- Team Profile -->
                                <div class="team-member">
                                    <div class="team-photo">
                                        <img alt="" src="image/team-d.jpg">
                                    </div>
                                    <div class="team-info">
                                        <h4 class="name">Robert Miller</h4>
                                        <p class="sub-title">Head of Human Resources</p>
                                    </div>
                                </div>
                                <!-- Team #end -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6 even">
                                <!-- Team Profile -->
                                <div class="team-member">
                                    <div class="team-photo">
                                        <img alt="" src="image/team-e.jpg">
                                    </div>
                                    <div class="team-info">
                                        <h4 class="name">Stephen Everett</h4>
                                        <p class="sub-title">Director &amp; Company Secretary</p>
                                    </div>
                                </div>
                                <!-- Team #end -->
                            </div>
                            <div class="col-md-4 col-sm-6 col-xs-6 odd">
                                <!-- Team Profile -->
                                <div class="team-member">
                                    <div class="team-photo">
                                        <img alt="" src="image/team-f.jpg">
                                    </div>
                                    <div class="team-info">
                                        <h4 class="name">Philip Hennessy</h4>
                                        <p class="sub-title">Non-Executive Director</p>
                                    </div>
                                </div>
                                <!-- Team #end -->
                            </div>
                        </div>
                        <!-- TeamRow #end -->

                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <div class="wgs-box wgs-menus">
                                <div class="wgs-content">
                                    <ul class="list list-grouped">
                                        <li class="list-heading">
                                            <span>About Our Firms</span>
                                            <ul>
                                                <li class="current"><a href="about-us.html">Overview</a></li>
                                                <li><a href="history.html">Our History</a></li>
                                                <li><a href="teams.html">Board Of Directors</a></li>
                                                <li><a href="teams-alter.html">Management Team</a></li>
                                                <li><a href="investors.html">Our Investors</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="clients.html">Our Clients</a></li>
                                        <li><a href="resources.html">Resources</a></li>
                                        <li><a href="responsibility.html">Responsibility</a></li>
                                        <li><a href="testimonial.html"><span>Testimonials</span></a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="wgs-box wgs-quoteform">
                                <h3 class="wgs-heading">Quick Contact</h3>
                                <div class="wgs-content">
                                    <p>If you have any questions or would like to book a session please contact us.</p>
                                    <form id="contact-us" class="form-quote"
                                        action="http://demo.themenio.com/industrial/form/contact.php" method="post"
                                        novalidate="novalidate">
                                        <div class="form-results"></div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input name="contact-name" type="text" placeholder="Name *"
                                                    class="form-control required" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input name="contact-email" type="email" placeholder="Email *"
                                                    class="form-control required email" aria-required="true">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field form-m-bttm">
                                                <input name="contact-phone" type="text" placeholder="Phone"
                                                    class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <input name="contact-service" type="text"
                                                    placeholder="Interest of Service" class="form-control">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="form-field">
                                                <textarea name="contact-message" placeholder="Messages *"
                                                    class="txtarea form-control required"
                                                    aria-required="true"></textarea>
                                            </div>
                                        </div>
                                        <input type="text" class="hidden" name="form-anti-honeypot" value="">
                                        <button type="submit" class="btn btn-alt sb-h">Submit</button>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>


</body>
<% include partials/footer %>