<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Our Core Value</h1>
                        <div class="gaps"></div>
                        <hr>
                        <h2>
                            Safety
                        </h2>
                        <h4>
                            It matters and starts with you!
                        </h4>
                        <hr>
                        <h2>
                            Teamwork
                        </h2>
                        <h4>
                            Together we can
                        </h4>
                        <hr>
                        <h2>
                            Accomodation
                        </h2>
                        <h4>
                            Responsibility lies with you
                        </h4>
                        <hr>

                        <h2>
                            Respect
                        </h2>
                        <h4>
                            To get it you must give it
                        </h4>
                        <hr>

                        <h2>
                            Result
                        </h2>

                        <h4>
                            We deliver on our promise
                        </h4>
                        <div class="gaps"></div>
                        <hr>
                        <p>
                            The culture of RCF Minerals Limited is one of a shared vision, purpose and teamwork. We
                            believe that diversity is essential to our success and ensures an equal opportunity
                            employment environment. To work at RCF you must commit to the following.
                        </p>
                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>