<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner/Slider -->
        <div id="slider" class="banner banner-slider carousel slide carousel-fade">
            <!-- Wrapper for Slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <!-- Set the first background image using inline CSS below. -->
                    <div class="fill"
                        style="background-image:url('https://images.unsplash.com/photo-1505833464198-4993b36cdfab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');">
                        <div class="banner-content">
                            <div class="container">
                                <div class="row">
                                    <div class="banner-text al-left pos-left light">
                                        <div class="animated fadeInUp banner-boxed">
                                            <h2>Efficient Technology</h2>
                                            <p>During our mining activities we use effective and Efficient
                                                Technology to ensure Quality</p>
                                            <div class="banner-cta">
                                                <a class="btn" href="/">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <!-- Set the second background image using inline CSS below. -->
                    <div class="fill"
                        style="background-image:url('https://images.pexels.com/photos/188679/pexels-photo-188679.jpeg?cs=srgb&dl=drive-driver-engine-188679.jpg&fm=jpg');">
                        <div class="banner-content">
                            <div class="container">
                                <div class="row">
                                    <div class="banner-text al-left pos-left light">
                                        <div class="animated fadeInUp banner-boxed">
                                            <h2>Solid Minerals Exploration </h2>
                                            <p>We deliver Quality Minerals Resources Oversees</p>
                                            <div class="banner-cta">
                                                <a class="btn" href="/">Learn more</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#slider" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#slider" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- #end Banner/Slider -->
    </header>
    <!-- End Header -->
    <!-- Call Action -->
    <div class="call-action cta-small bg-secondary">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Visit one of our Mines today?</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->

    <!-- Content -->
    <div class="section section-about section-pad">
        <div class="container">
            <div class="content row">

                <h4 class="heading-sm-lead">About us</h4>
                <h2 class="heading-section with-line">Who we are</h2>

                <div class="row">
                    <div class="text-justify col-md-7 res-m-bttm">
                        <p class="lead">A mining company with a difference.</p>
                        <p>
                            RCF Minerals limited RCF is a newly established Nigerian Natural Resources company with a
                            specific focus on Zinc Ore, Lead Ore, Copper Ore, the feedstock for their respective
                            smelting. <br>
                            RCF is a mining company which engages in the exploration, development and production of
                            minerals resources properties throughout Nigeria with it principal assets- Keana Mines,
                            Kanam Mines, Rafi Mines, Gurara Mines, Alkaleri Mines , Wase Mines, Ganjuwa Mines, etc
                        </p>
                        <p>
                            We are an exploration- stage mining company focused at advancing its Lead-Zinc deposits in
                            Nigeria -a country that is committed to developing its natural resources under the president
                            Mohammed Buhari led administration and is rapidly emerging as an economic powerhouse. we are
                            led by experienced mining professionals who are dedicated to the responsible production of
                            solid minerals in southern Nigeria.
                        </p>
                        <p><a href="/about">Learn More <em class="fa fa-angle-double-right"></em></a>
                        </p>
                    </div>
                    <div class="col-md-3 col-md-offset-1">
                        <h4>RCF Minerals limited has:</h4>
                        <ul class="list-style">
                            <li>Export License NO: RE. 0001558
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->

    <!-- Service Section -->
    <div class="section section-services section-pad fixed-bg"
        style="background-image: url('image/plx-light-mine.jpg');">
        <div class="container">
            <div class="content row">

                <h4 class="heading-sm-lead">Our Services</h4>
                <h2 class="heading-section with-line">What we do</h2>

                <!-- Feature Row  -->
                <div class="feature-row feature-service-row row mgfix">
                    <div class="col-md-3 col-sm-6 col-xs-6 even">
                        <!-- feature box -->
                        <div class="feature boxed">
                            <a href="/services/minerals-mining">
                                <div class="fbox-photo">
                                    <img src="/image/mining.jpg" alt="">
                                </div>
                            </a>
                            <div class="fbox-content">
                                <h3><a href="/services/minerals-mining">Minerals, Metals & Mining</a></h3>
                                <p>At RCF Minerals Limited, mine Minerals and metals in commeralized Quantity for
                                    industrial uses.</p>
                                <p><a href="/services/minerals-mining">Learn More <em
                                            class="fa fa-angle-double-right"></em></a>
                                </p>
                            </div>
                        </div>
                        <!-- End Feature box -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 odd">
                        <!-- feature box -->
                        <div class="feature boxed">
                            <a href="#">
                                <div class="fbox-photo">
                                    <img src="/image/rcf-renewable-energy.jpg" alt="">
                                </div>
                            </a>
                            <div class="fbox-content">
                                <h3><a href="#">Renewable Energy</a></h3>
                                <p>We understand that Renewable the future of Energy &amp; Power, hence we provide
                                    reliable Renewable Energy
                                    solution.</p>
                                <p><a href="#">Learn More <em class="fa fa-angle-double-right"></em></a></p>
                            </div>
                        </div>
                        <!-- End Feature box -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 even">
                        <!-- feature box -->
                        <div class="feature boxed">
                            <a href="#">
                                <div class="fbox-photo">
                                    <img src="/image/maritime.jpg" alt="">
                                </div>
                            </a>
                            <div class="fbox-content">
                                <h3><a href="#">Maritime</a></h3>
                                <p>You want to ship your goods Overseas, we have Maritime is services for you.</p>
                                <p><a href="#">Learn More <em class="fa fa-angle-double-right"></em></a></p>
                            </div>
                        </div>
                        <!-- End Featur box -->
                    </div>
                    <div class="col-md-3 col-sm-6 col-xs-6 odd">
                        <!-- featured box -->
                        <div class="feature boxed">
                            <a href="#">
                                <div class="fbox-photo">
                                    <img src="image/agric.jpg" alt="">
                                </div>
                            </a>
                            <div class="fbox-content">
                                <h3><a href="#">Agriculture</a></h3>
                                <p>We plant, Harvest and export Agricultural product in commerial Quantity.</p>
                                <p><a href="#">Learn More <em class="fa fa-angle-double-right"></em></a></p>
                            </div>
                        </div>
                        <!-- End Feature box -->
                    </div>
                </div>
                <!-- Feture Row  #end -->

            </div>
        </div>
    </div>
    <!-- End Section -->

    <!-- Content -->

    <!-- End Content -->
    <!-- CTA-Parallax -->

    <!-- End Section -->


    <!-- Project Section -->

    <!-- End Section -->

    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>