<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">

                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>

                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">
                <div class="row">
                    <div class="col-md-8">
                        <img src="/image/minerals_mining_solution.jpg" alt="" class="aligncenter">
                        <h1>Minerals, Metals & Mining</h1>
                        <!-- <p class="lead">
                            Mining Operation includes Site Mapping, Extraction, Packing and exporting of Solid
                            minerals
                        </p> -->
                        <p>
                            Mining works in these leaseholds shall be carried out by opencast manual methods with
                            drilling and blasting for fragmentation of minerals and the blasted material be scooped with
                            pick axes,
                            spades and screened manually and loaded onto trucks.
                            <br>
                            RCF Mineral Limited proposed scientific and eco-friendly blasting using ANFO for achieving I
                            higher production. The excel delay detonators are used as to have negligible impacts on the
                            nearby dwellings.
                        </p>
                        <p>
                            Zinc-Lead ore deposits at the Kanam-Keana-Alkaleri deposits are mined in a number of open
                            pits method. Loose deposits are mined using a bucket track excavator, while over burden,
                            high
                            grade ore and zinc-lead formation require drilling and blasting operation prior to mining
                            with track excavator (crawler).
                            <br>
                            We intend to extract the zinc and lead ore production to the tune of 150,000TPA during the
                            next three years of the scheme period October 1st, 2019, to October 1st 2022. No sub-grade
                            minerals is anticipated.
                            In order to achieve the production of 150MTPA, the man-power requirement at the mines would
                            be around 400 for maneuvering the machinery and handling the mineral during excavation,
                            breaking (Crushing),loading etc and inclusive of administration and security staff.
                        </p>
                        <p>
                            Mining works in these leaseholds shall be carried out by opencast manual methods with
                            drilling and blasting for fragmentation of minerals and the blasted material be scooped with
                            pick axes,
                            spades and screened manually and loaded onto trucks.

                        </p>
                        <!-- <h3>We Can Offer Following Types Of Solutions:</h3>
                        <p>
                            We are ipsum dolor sit amet enim ad minim veniam, quis nostrud
                            exercation ullamco laboris nisi ution aliquip exon commodo
                            conquat. Duis aute irure dolor nostrud ullamco. Consectetur
                            adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                            dolore magna aliqua.
                        </p> -->


                        <div class="col-list space-top-md space-bottom-md">
                            <div class="row">
                                <div class="col-sm-6 col-xs-6">
                                    <img src="https://scontent-los2-1.xx.fbcdn.net/v/t1.0-9/12669503_946086878778866_8617004941118119460_n.jpg?_nc_cat=110&_nc_ht=scontent-los2-1.xx&oh=ab212e50173433cd85c60948542e6828&oe=5D33F69F"
                                        alt="" class="aligncenter">
                                </div>
                                <!-- <div class="col-sm-6 col-xs-6">
                                    <img src="/image/photo-sm-oil-b.jpg" alt="" class="aligncenter">
                                </div> -->
                            </div>
                        </div>
                        <div class="clear"></div>
                        <p>
                            If you have any questions please
                            <strong>contact us</strong> or call at
                            <strong>+234-814-0764-160</strong>.
                        </p>
                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">
                            <div class="wgs-box wgs-menus">
                                <div class="wgs-content">
                                    <ul class="list list-grouped">
                                        <li class="list-heading">
                                            <span>Our Solutions and Services</span>
                                            <ul>
                                                <li class="current"><a href="/services/minerals-mining">Minerals
                                                        Mining</a></li>
                                                <li><a href="/services/renewable">Renewable Energy Technology</a></li>
                                                <li><a href="/services/agriculture">Agriculture</a></li>
                                                <li><a href="/services/maritime">Maritime</a></li>
                                                <li><a href="/services/aviation">Aviation</a></li>
                                                <li><a href="/services/oil-and-gas">Oil &amp; Gas Refinery</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>
            </div>
        </div>
    </div>


</body>
<% include partials/footer %>