<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Health, Safety & Environment</h1>
                        <p>The company has established a Health, safety and Environment committee to provide oversight
                            of RCF’s health, safety and environment risks and responsibilities. Such oversight includes
                            monitoring the following RCF’s business:
                            The effectiveness of risk management processes employed in the areas of HSE Compliance with
                            applicable laws, rules and regulations
                            Promotion of continuous improvement and company culture in the areas of HSE and, The company
                            has established a Health, safety and Environment committee to provide oversight of RCF’s
                            health, safety and environment risks and responsibilities. Such oversight includes
                            monitoring the following RCF’s business:
                            The effectiveness of risk management processes employed in the areas of HSE Compliance with
                            applicable laws, rules and regulations
                            Promotion of continuous improvement and company culture in the areas of HSE and,

                            The effectiveness of the company HSE processes, policies and standards, programs and
                            initiatives (See RCF HSE Committee Charter)
                        </p>



                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>