<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Sustainability Vision</h1>
                        <p>
                            Delivering responsible environmental and social business practices that led to the creation
                            of strong economic returns for our shareholder and shared values for our stakeholders. Our
                            sustainability vision aligns with our core values of Safety, teamwork, Accountability,
                            Respect and Result.

                        </p>

                        <p>
                            We uphold our sustainability vision by always:
                            <ul class="list-style arrow">
                                <li>Operating as a respectful and transparent company</li>
                                <li>Demonstrating strong environmental stewardship
                                </li>
                                <li>Respecting the traditional rights and values of our host community</li>
                                <li> Respecting, listening and empowering host communities</li>
                                <li> Valuing diversity within our workforce</li>
                                <li> Compliance sub-committee charter</li>
                                <li>Respecting all legal and regulatory requirements</li>
                                <li>Driving commercial innovation and cost savings.</li>
                            </ul>
                        </p>

                        <p>
                            Our performance in these areas shape our social license to operate-something we value and
                            rely on to run a profitable and valued business over the long and short-term.
                        </p>
                        <p>
                            Our social license to operate is not something we take for granted. We understand that it
                            can only exist by maintaining respectful and trust-based relationship with the communities
                            and government that host our activities.
                        </p>
                        <p>
                            By delivering on our sustainability vision, and maintaining a social license to operate,
                            there is much we can contribute, not only to shareholders but about society, the broad
                            economy
                            and the environment
                        </p>

                        <p>
                            <ul class="list-style arrow">
                                <li>Environment</li>
                                <li>Community
                                </li>
                                <li>Health & Safety</li>
                            </ul>
                        </p>

                        <h1>A Sustainable Lead-ore producer</h1>
                        <p>
                            Operating sustainably with sound business ethics and strong governance ensuring long - term
                            success for our company, our people, the community in which we operate and the
                            RCFMI
                            N ERALS
                            LIMITE
                            land on which we work.
                            Sustainability is central to how we operate at RCF and by making the right decision today we
                            can ensure we maintain our reputation as a valued and respected business for tomorrow and
                            deliver greater economic outcome and shareholder value.
                        </p>

                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>