<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Our Operations (Mining Methods)</h1>
                        <p>
                            Mining works in these leaseholds shall be carried out by opencast manual methods with
                            drilling and blasting for fragmentation of minerals and the blasted material be scooped with
                            pick axes,
                            spades and screened manually and loaded onto trucks.

                        </p>
                        <p>

                            RCF Mineral Limited proposed scientific and eco-friendly blasting using ANFO for achieving I
                            higher production. The excel delay detonators are used as to have negligible impacts on the
                            nearby dwellings.
                            Zinc-Lead ore deposits at the Kanam-Keana-Alkaleri deposits are mined in a number of open
                            pits method. Loose deposits are mined using a bucket track excavator, while over burden,
                            high
                            grade ore and zinc-lead formation require drilling and blasting operation prior to mining
                            with track excavator (crawler).
                        </p>
                        <p>
                            We intend to extract the zinc and lead ore production to the tune of 150,000TPA during the
                            next three years of the scheme period October 1st, 2019, to October 1st 2022. No sub-grade
                            minerals is anticipated.
                            In order to achieve the production of 150MTPA, the man-power requirement at the mines would
                            be around 400 for maneuvering the machinery and handling the mineral during excavation,
                            breaking (Crushing),loading etc and inclusive of administration and security staff.
                        </p>



                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>