<% include partials/header %>

<body>
    <!-- Header -->
    <header class="site-header header-s2">
        <!-- Navbar -->
        <% include partials/navbar %>
        <!-- #end Navbar -->
        <!-- Banner -->
        <div class="banner banner-static">
            <div class="container">
                <div class="content row">
                    <!-- <img src="/image/banner-inside-d.jpg" alt=""> -->
                    <div class="imagebg">
                        <img src="/image/about-banner.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- End Banner -->
    </header>
    <!-- End Header -->

    <!-- Content -->
    <div class="section section-contents section-pad">
        <div class="container">
            <div class="content row">

                <div class="row">
                    <div class=" text-justify col-md-8">

                        <h1>Risk Management, Internal Compliance & Control Systems</h1>
                        <p>
                            RCF recognises that all aspects of our business involve significant risk, including both
                            threats (downside risk) and opportunities (upside risk). We are committed to managing all
                            sources of risk in a proactive and effective manner through competent risk management. This
                            requires high quality risk analysis to allow appropriate management decision to be taken at
                            all levels in the company. A number of systems are in place to identify and manage risk,
                            these include:
                            The identification and regular review of all significant business risk facing the company.
                            The provision of information by management to the board, on a periodic basis, as to the
                            status of any plans, controls, policies and/or procedures to manage the significant business
                            risks.
                            Guidelines for ensuring that capital expenditures and revenue commitments exceeding certain
                            approved limits are placed before the board for approval.
                            Limits and controls for all financial exposures, including the uses of derivatives
                        </p>
                        <p>
                            Others include:
                            <ul class="list-style arrow">
                                <li>Continuous disclosure Shares trading policy</li>
                                <li>Board performance and appraisal process in accordance with the requirement of its
                                    charter,
                                    the board perform annual evaluation of its performance and sets out the goals and
                                    objective
                                    of the Board for the upcoming year.
                                </li>
                                <li>Board charter</li>
                                <li> Audit & risk committee charter</li>
                                <li> Remuneration committee charter</li>
                                <li> Compliance sub-committee charter</li>
                                <li>Schedule of board reserved matter </li>
                                <li>Director’s conflict policy</li>
                                <li>HSE committee charter</li>
                            </ul>
                        </p>



                    </div>

                    <!-- Sidebar -->
                    <div class="col-md-4">
                        <div class="sidebar-right">

                            <% include partials/mailForm %>

                        </div>
                    </div>
                    <!-- Sidebar #end -->
                </div>

            </div>
        </div>
    </div>
    <!-- End Content -->
    <!-- Call Action -->
    <div class="call-action">
        <div class="cta-block">
            <div class="container">
                <div class="content row">

                    <div class="cta-sameline">
                        <h3>Invest with RCF Minerals limited</h3>
                        <span class="cta-num">Call <strong><a href="tel:2348140764160">+234-814-0764-160
                                </a></strong></span>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Section -->


</body>
<% include partials/footer %>