<!DOCTYPE html>
<html>

<head>
    <title>My Website</title>
    <meta charset="UTF-8" />

    <style type="text/css">
        * {
            font-family: Verdana, Arial, sans-serif;
        }

        body {
            background-color: #fff;
            cursor: default;
        }

        h1 {
            font-size: 15pt;
        }

        p {
            font-size: 10pt;
        }
    </style>
</head>

<body>
    <p>Your New Email Signature!</p>
    <table id="zs-output-sig"
        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse; width: 650px;"
        border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td>
                    <table
                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                        border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <table
                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                        border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table
                                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                                        border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table
                                                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                                                        border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000;">
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000; display: inline;">Kind
                                                                                        Regards,</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-bottom: 12px; height: 12px;">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td>
                    <table
                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                        border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td width="224">
                                    <table
                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                        border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td style="border-collapse: collapse; line-height: 0px;"><img
                                                        src="https://ucarecdn.com/cfec9307-6c9e-4a05-992e-372336647545/-/resize/224x81/img.png"
                                                        width="224" height="81" border="0" /></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="border-collapse: collapse; padding-right: 15px; width: 15px;" width="15">
                                    &nbsp;</td>
                                <td style="border-collapse: collapse; background-color: #ED4B41; width: 6px;" width="6">
                                    &nbsp;</td>
                                <td style="border-collapse: collapse; padding-right: 15px; width: 15px;" width="15">
                                    &nbsp;</td>
                                <td>
                                    <table
                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                        border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <table
                                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                                        border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table
                                                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                                                        border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 22.0px; font-style: normal; line-height: 24px; font-weight: normal; color: #000000;">
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 22.0px; font-style: normal; line-height: 24px; font-weight: bold; color: #000000; display: inline;">David
                                                                                        Omafume Okoro</span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000;">
                                                                                    <p><span
                                                                                            style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: bold; color: #000000; display: inline;">RCF
                                                                                            Holdings UK Limited, RCF
                                                                                            Minerals Limited</span></p>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-bottom: 15px; height: 15px;">
                                                                                    Lead Consultant- Founder, MD &amp;
                                                                                    CEO</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table
                                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                                        border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table
                                                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                                                        border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000;">
                                                                                    <span style="color: #000000;">
                                                                                        <span
                                                                                            style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: bold; color: #ED4B41; display: inline;">Mob.</span>
                                                                                        <span
                                                                                            style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000; display: inline;">+(234)8140764160&nbsp;</span>&nbsp;</span><span
                                                                                        style="color: #ED4B41;">UK
                                                                                        Off</span>&nbsp;
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000; display: inline;">+(44)2033559563&nbsp;</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-bottom: 3px; height: 3px;">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table
                                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                                        border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table
                                                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                                                        border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000;">
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: bold; color: #ED4B41; display: inline;">UK
                                                                                        Add.</span> <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000; display: inline;">Bedwell
                                                                                        House, 76, Stockwell Park Road,
                                                                                        London, United Kingdom, SW9 0UH
                                                                                    </span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-bottom: 3px; height: 3px;">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000;">
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: bold; color: #ED4B41; display: inline;">Nigeria
                                                                                        Add.</span> <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000; display: inline;">14,
                                                                                        Magbaja street, off Refinery
                                                                                        Road, off Akah Avenue,
                                                                                        Effurun,Uvwie Local Government
                                                                                        Area, Delta State, Nigeria
                                                                                    </span></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-bottom: 3px; height: 3px;">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000;">
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: bold; color: #ED4B41; display: inline;">Email.</span>
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000; display: inline;">david@rcfminerslsltd.com</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-bottom: 3px; height: 3px;">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000;">
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: bold; color: #ED4B41; display: inline;">Website.</span>
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000; display: inline;">www.rcfminerslsltd.com</span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-bottom: 3px; height: 3px;">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000;">
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: bold; color: #ED4B41; display: inline;">Skype.</span>
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000; display: inline;">
                                                                                        omafume.okoro
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-bottom: 3px; height: 3px;">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000;">
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: bold; color: #ED4B41; display: inline;">Whatsapp/Viber.</span>
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000; display: inline;">
                                                                                        +(234)8067933640
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-bottom: 3px; height: 3px;">
                                                                                    &nbsp;</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000;">
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: bold; color: #ED4B41; display: inline;">Wechat.</span>
                                                                                    <span
                                                                                        style="font-family: Arial, Helvetica, sans-serif; font-size: 14.0px; font-style: normal; line-height: 16px; font-weight: normal; color: #000000; display: inline;">
                                                                                        +(234)8140764160
                                                                                    </span>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-bottom: 15px; height: 15px;">
                                                                                    &nbsp;</td>
                                                                            </tr>

                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table
                                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                                        border="0" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td>
                                                                    <table
                                                                        style="font-family: Arial,Helvetica,sans-serif; line-height: 0px; font-size: 1px; padding: 0px; border-spacing: 0px; margin: 0px; border-collapse: collapse;"
                                                                        border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                            <tr>
                                                                                <td>
                                                                                    <a
                                                                                        href="https://web.facebook.com/omafumeo">
                                                                                        <img src="https://gimm.io/assets/social/24/333333/04facebook.gif"
                                                                                            alt="facebook" width="24"
                                                                                            height="24" border="0" />
                                                                                    </a>
                                                                                </td>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-right: 7px; width: 7px;">
                                                                                    &nbsp;</td>
                                                                                <td>
                                                                                    <a
                                                                                        href="https://www.linkedin.com/in/david-omafume-okoro-5ba7b3144/">
                                                                                        <img src="https://gimm.io/assets/social/24/333333/04linkedin.gif"
                                                                                            alt="linkedin" width="24"
                                                                                            height="24" border="0" />
                                                                                    </a>

                                                                                </td>
                                                                                <td
                                                                                    style="border-collapse: collapse; padding-right: 7px; width: 7px;">
                                                                                    &nbsp;</td>
                                                                                <td>&nbsp;</td>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="border-collapse: collapse; padding-bottom: 8px; height: 8px;">&nbsp;</td>
            </tr>
        </tbody>
    </table>
</body>

</html>